#world {
  width: 600px;
  height: 600px;
  border: 1px solid #000;
  position: relative;
}

.tiger {
  background-image: url('../img/tiger.jpeg');
  background-size: cover;
  width: 70px;
  height: 70px;
  position: absolute;
  z-index: 1;
}

.deer {
  background-image: url('../img/deer.gif');
  background-size: cover;
  width: 63px;
  height: 57px;
  position: absolute;
  z-index: 0;
}

.tree {
  background-image: url('../img/tree.gif');
  background-size: cover;
  width: 58px;
  height: 60px;
  position: absolute;
  z-index: -1;
}
