#arena {
  width: 600px;
  height: 600px;
  margin: auto;
  margin-top: 50px;
  border: 1px solid #000;
}

.tiger {
  background-image: url('../img/tiger.jpeg');
  width: 70px;
  height: 70px;
}

.deer {
  background-image: url('../img/deer.gif');
  width: 63px;
  height: 57px;
}

.tree {
  background-image: url('../img/tree.gif');
  width: 58px;
  height: 60px;
}
