<div id="world">
</div>
<div>
  <form id="game_info">
<!--  <div class="form-group">
      <input id="tiger" class="form-control" name="tiger" placeholder="Tigers">
    </div> -->
    <div class="form-group">
      <input id="deer" class="form-control" name="deer" placeholder="Deer">
    </div>
    <div class="form-group">
      <input id="tree" class="form-control" name="tree" placeholder="Trees">
    </div>
    <input type="button" value="Go!" class="btn btn-default">
  </form>
</div>
<div class="hidden_form">
  <form id="score_game" action="/game" method="POST">
    <input id="user_id" name="user_id" value="<%= @user.id if @user %>" />
    <input id="score_val" name="score" />
  </form>
</div>
